
body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #F5F8FF;
}



.Inter {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}


.header
{
    position: relative;
    max-width: 1440px;
    min-height: 700px;
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}

.btn-primary
{
    background-color: #4E47FF;
    color: white;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.div-banner
{
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 140px;
}

.div-banner h1
{
    font-size: 50px;
}

.nav-head
{
    margin: 0 70px;
}

.logo
{
    font-size: 34px;
    color: #4E47FF;
    font-weight: 800;
}

.logo-div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.section-1
{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.section-1-img
{
    border-radius: 25px;
}

.section-title
{
    font-size: 35px;
}

.para-title
{
    font-size: 20px;
}

.section-2
{
    background-color: #d3d2ff;
    max-width: 1140px;
    min-height: 305px;
    margin: 100px;
    border-radius: 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    
}

.section2-title
{
    font-size: 34px;
    margin-bottom: 0;
}

.section2-dis
{
    display: flex;
    gap: 150px;
    justify-content: center;
    margin-top: 0;

}

.section2-h1
{
    font-size: 65px;
    color: #4E47FF;
    margin-bottom: 0;
}

.section2-p
{
    margin-top: 0;
}

.section2
{
    padding-bottom: 0%;
}

.review-card
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.avatar
{
    display: flex;
    gap: 10px;
}

.profile
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
    margin-top: 10px;
}

.sec4-title
{
    text-align: center;
    font-size: 40px;
}

.sec3-card
{
    background: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px rgb(235, 222, 249);
    border-radius: 15px;
    border: 1px solid;
    padding: 15px;
    max-width: 300px;
    min-height: 260px;
}

.date
{
    margin-top: 0;
    font-size: small;
}

.name1
{
    margin-bottom: 0;
}

.ready
{
    max-width: 1140px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 100px;
}

.ready-img
{
    max-width: 840px;
    min-height: 365px;
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgb(196, 177, 215);
}

.ready-title
{
    font-size: 40px;
    margin-bottom: 0;
}

.sec5
{
    display: flex;
    max-width: 1140px;
    align-items: center;
    justify-content: space-between;
    margin: 100px;
    padding: 0 200px;
}

.sec5-column form label,
.sec5-column form input,
.sec5-column form textarea,
.sec5-column form button 
{
    display: block;
    width: 300px;
    margin-bottom: 12px;
}

.sec5-title
{
    font-size: 55px;
}

.footer
{
    text-align: center;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 10px;
}

.link ul
{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.link li
{
    list-style: none;
}

.link li a
{
    text-decoration: none;
    color: black;
}

.f-title
{
    font-size: 100px;
    color: #4E47FF;
    margin-top: 100px;
    margin-bottom: 0;
}
